<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/myCSS.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="nav navbar-inverse" style="height:60px">
            <div class="container">
                <div class="space-topText">
                     @Html.ActionLink("Admin", "Index", "Admin")
                </div>
            </div>
        </div>
        @if (TempData["msg"] != null)
        {
        <center>
            <div class="alert alert-info">
                <p>
                    @TempData["msg"]
                </p>
            </div>
        </center>
        }
    </header>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-2">
                <ul class="list-group-item">
                    <li class="list-group-item">
                        <a href="@Url.Action("Index","Admin")">
                            Danh sách sản phẩm
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="@Url.Action("CategoriesList","Admin")">
                            Danh mục sản phẩm
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="@Url.Action("LienHe","Admin")">
                            Phản hồi của KH
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="@Url.Action("Orders","Admin")">
                            Danh sách đơn đặt hàng
                        </a>
                    </li>
                    <li class="list-group-item">
                        @using (Html.BeginForm("LoginOut", "Login", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger">Đăng xuất</button>
                        }
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-10">
                @RenderBody()

            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    </body>
</html>
